<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    {% block title %}
      {% if title %}
        <title>Flask - {{ title }}</title>
      {% else %}
        <title>Flask Blog</title>
      {% endif %}
    {% endblock %}

</head>
<body>
    <div class="wrapper">

        {% block menu %}
            <header class="header">
                <ul class="main_menu">
                    <li><a href="#"><p>Главная</p></a></li>
                    <li><a href="#"><p>Блог</p></a></li>
                    <li><a href="#"><p>Регистрация</p></a></li>
                    <li><a href="#"><p>Логин</p></a></li>
                    <li><a href="#"><p>Аккаунт</p></a></li>
                    <li><a href="#"><p>Создать</p></a></li>
                    <li><a href="#"><p>Выход</p></a></li>
                </ul>
            </header>
        {% endblock %}

        {% block content %}

        {% endblock %}


        {% block main_page %}
            <div class="content">


            </div>
        {% endblock %}


        {% block footer %}
            <footer class="footer"> @Ghauru<br>
                &#169; Ghauru
            </footer>
        {% endblock %}

    </div>
</body>
</html>