<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    {% block title %}
      {% if title %}
        <title>Flask - {{ title }}</title>
      {% else %}
        <title>Flask Blog</title>
      {% endif %}
    {% endblock %}

</head>
<body>
    <div class="wrapper">

        {% block menu %}

        {% endblock %}

        {% block content %}

        {% endblock %}


        {% block main_page %}

        {% endblock %}


        {% block footer %}

        {% endblock %}

    </div>
</body>
</html>